<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="<%= require('./images/icon_192x192.png') %>" />
    <link rel="manifest" href="<%= require('./manifest.json') %>" />
  </head>
  <body>
  </body>
</html>
