<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mime-Express utilisation et vie privée</title>
    <link rel="icon" type="image/png" href="<%= require('./images/icon_192x192.png') %>" />
    <link rel="manifest" href="<%= require('./manifest.json') %>" />
  </head>
  <body>
    <h1>Utilisation et vie privée</h1>
    <p>
        Mime-Express est une application web qui permet de jouer au jeu de société "Mime Express".
    </p>
    <p>
        L'application est gratuite et ne nécessite pas d'inscription pour jouer. Il est possible
        de jouer sur mobile ou sur ordinateur, en ligne ou hors ligne.
    </p>
    <p>
        L'application ne collecte aucune donnée personnelle. Elle ne stocke aucune donnée sur le
        serveur.
    </p>
    <p>
        Sur l'appareil de l'utilisateur elle ne stocke que les paramètres de jeu choisis par
        l'utilisateur. Supprimer le cache du navigateur ou de l'application supprime ces données
        sans porter aucun préjudice au jeu.
    </p>
  </body>
</html>
